.gameList{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    margin: auto;
    margin-top: 100px;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
    padding-top: 25px;
}
.game{
    margin: auto;
    display: flex;
    justify-content: space-evenly;

    padding: 10px;
}
.teamLeft{
    font-size: 50%;
    width: 20em;
    height: 100%;
    line-height: 100%;
    text-align: left;
}
.teamRight{
    font-size: 50%;
    width: 20em;
    height: 100%;
    line-height: 100%;
    text-align: Right;
}
