.gameList{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;

    margin: auto;
    margin-top: 25px;
    width: 50%;
    border: 1px solid orangered;
    padding: 10px;
    padding-top: 10px;
}
.game{
    margin: auto;
    display: flex;
    justify-content: space-evenly;

    padding: 10px;
}
.teamLeft{
    font-size: 50%;
    text-align: left;
    float: left;
}
.teamRight{
    font-size: 50%;
    text-align: Right;
    float: right;
}
